.character {
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 1000px;
  }
  
  .character {
    background-color: transparent;
    width: 300px;
    height: 500px;
    perspective: 1000px;
    
  }
  
.characterinner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 5px solid #F0C75E;
    border-radius: 10px;
 
  }
  
  /* .character:hover .characterinner {
    transform: rotateY(180deg);
  } */
  
  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .front {
    background-color: #F0C75E;
    color: black;
  }
  
  .back {
    background-color: #372E29;
    background: linear-gradient(0deg, rgba(114,98,85,1) 0%, rgba(55,46,41,1) 100%);
    border-radius: 5px;
    color: white;
    transform: rotateY(180deg);
    text-align: left;
  }

  .back h3 {
    margin: 20px 0px 0px 20px;
  }

  .characterinfo {
    color: #1E1E1E;
    text-shadow: 0 0 3px #ffffff;
    margin: auto;
    position: relative;
    top: -80px;
    height: auto;
    width: 90%;
    bottom: 10px;
    justify-content: center;
    align-content: center;
    padding-top: 1rem;

    background: rgba(255, 220, 170, 0.32);
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);

    transform: translateZ(20px);
  }

  .characterinfo h3{
    margin-top: 0;
}

  .front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }