@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Playwrite+US+Trad:wght@100..400&family=Sedan+SC&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Sedan SC";
}

body {
  overflow-x: hidden;
  background-color: #372E29;
}

/* NAV / HEADER */

header {
  height: 100px;
  background: linear-gradient(180deg, rgba(55,46,41,1) 0%, rgba(157,131,117,1) 100%);
  display: flex;
  justify-content: space-between;
}

.title {
  flex-grow: 1;
  text-align: center;
  align-self: center;

  font-family: "Sedan SC", serif;
  font-size: 1.5rem;
  color: White;
}

.search {
  justify-content: center;
  align-self: center;
}

.search input {
  margin-right: 20px;
  height: 40px;
  width: 350px;
  background: linear-gradient(0deg, rgba(240,199,94,1) 50%, rgba(157,131,117,0) 100%);
  border: none;
  border-bottom: 3px solid #1E1E1E;
  font-size: 1rem;
  color: rgb(51, 51, 51);
}

/* LANDING AREA */

#overlay {
  overflow-y: hidden;
}

section {
  height: 550px;
  background-color: #1E1E1E;
}

.landing {
  width: 100%;
  height: 550px;
}

#landing-background{
  opacity: 0.1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
}

.landing-container {
  display: flex;
  padding: 50px 50px 0px 50px;
  z-index: 0;
}


.landing-image img{
  position: relative;
  width: 450px;
  height: 450px;
  object-fit: contain;
}

.landing-text {
  justify-content: center;
  align-self: center;
  color: white;

  margin-left: 30px;
}

.landing-text p {
  font-family: "Ibaara Real Nova";
  text-shadow: rgba(255,255,255,0.53) 0px 0px 33px;
  font-style: normal;
  font-size: 1.5rem;
}


/* character area */

.characters-area {
  position: relative;
  top: -100px;
}


/* .spacer {
  aspect-ratio: 1920/100;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
} */

.background-image {
  position: absolute;
  top: -20px;
  aspect-ratio: 1920/1000;
  width: 100%;
  -webkit-mask-image: url(src/assets/paper-top-expanded.svg);
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

/* .layer1 {
  background-image: url('./assets/paper-top.svg-expanded');
} */

.main{
  position: relative;
  top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  background-color: transparent;
  margin-top: 20px;
  gap: 30px;
}
