@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Playwrite+US+Trad:wght@100..400&family=Sedan+SC&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Sedan SC";
}

body {
  overflow-x: hidden;
}

/* NAV / HEADER */

header {
  height: 100px;
  background: linear-gradient(180deg, rgba(55,46,41,1) 0%, rgba(157,131,117,1) 100%);
  display: flex;
  justify-content: space-between;
}

.title {
  flex-grow: 1;
  text-align: center;
  align-self: center;

  font-family: "Sedan SC", serif;
  font-size: 1.5rem;
  color: White;
}

.search {
  justify-content: center;
  align-self: center;
}

.search input {
  margin-right: 20px;
  height: 40px;
  width: 350px;
  background: linear-gradient(0deg, rgba(240,199,94,1) 50%, rgba(157,131,117,0) 100%);
  border: none;
  border-bottom: 3px solid #1E1E1E;
  font-size: 1rem;
  color: rgb(51, 51, 51);
}

/* LANDING AREA */

#overlay {
  overflow-y: hidden;
}

section {
  height: 800px;
  background-color: #1E1E1E;
  z-index: 5;
}

.landing-container {
  display: flex;
  padding-top: 100px;
}


.landing-image img{
  position: relative;
  width: 600px;
  height: 600px;
  object-fit: contain;
}

.landing-text {
  justify-content: center;
  align-self: center;
  color: white;

  margin-left: 30px;
}

.landing-text p {
  font-family: "Ibaara Real Nova";
  font-style: normal;
  font-size: 3rem;
}


/* character area */

.characters-area {
  position: relative;
  top: 0;
}


.spacer {
  aspect-ratio: 1000/25;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url('./assets/paper-bottom.svg');
}


